{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br/>
<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <h2>Official Lazy Adams Covenant (This is not click-bait)</h2>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                <h4>Rule 1</h4>
                <p>It's a moderate sim so have sex all the time.</p>
                <h4>Rule 2</h4>
                <p>Never donate if you are over the age 40.</p>
                <h4>Rule 3</h4>
                <p>Sing all the time.</p>
                <h4>Rule 4</h4>
                <p>If you're going to be disrespectful be respectful about it.</p>
                <h4>Rule 5</h4>
                <p>Self-promote everything you got going on shamelessly.</p>
            </div>
            <div class="col-sm-6">
                <h4>Rule 6</h4>
                <p>Create a secondlife facebook page.</p>
                <h4>Rule 7</h4>
                <p>Sit in the middle of tables that have people playing at them.</p>
                <h4>Rule 8</h4>
                <p>Curse constantly.</p>
                <h4>Rule 9</h4>
                <p>Do not listen to anyone who claims to be a owner, manager, or greeter.</p>
                <h4>Rule 10</h4>
                <p>Any and all bodily sounds are welcome and encouraged.</p>
                <h4>Rule 11</h4>
                <p>Be more racist then hitler</p>
                <h4>Rule 12</h4>
                <p>Be as butt hurt as nekro</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}